@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Jersey+10&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply bg-[url('./assets/background.gif')]
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
  animation: marquee 10s linear infinite;
  width: 100%;
}
